*{
    padding: 0;
    margin: 0;
  }
  
  .main_container{
    height: 100vh;
    background-color: black;
  }
  
  .Auth-form {
    width: 420px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #4d4d4d7d;
    color: white;
    }
    
    .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
    }
    
    .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: white;
    font-weight: 800;
    }
    
    label {
    font-size: 14px;
    font-weight: 600;
    color: white;
    }
  
    .content_container{
      height: 100vh;
      background-color: #4d4d4d7d;
    }
  
    .content_container_form{
      padding: 75px;
    }
  
    .orange_text{
      color: #F53838;
      cursor: pointer;
    }
  
    .heading{
      padding-left: 100px;
      color: #F53838;
    }
  
    .orange_background{
      background-color: #F53838;
      color: white;
      &hover{
        background-color: #F53838;
      }
      border-color: #F53838;
    }
  
   .whitee_text{
    width: 100%;
    color: white;
    padding-right: 125px;
    padding-left: 180px;
    font-size: 20px;
   }
  
   .img{
    padding-left: 100px;  
   }

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}