.hero-text{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  text-align: left;
}

.hero-detail{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.hero-btn{
  border: none;
  width: 220px;
  height: 60px;
  background: #F53838;
  border-radius: 12px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;

  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.hero-btn:hover{
  opacity: 0.7;
}

.image{
  width: 440px;
  height: 440px;
}

.secondary-section{
  margin-top: 60px;

  .features-main-text {
    @extend .hero-text;
    font-size: 46px;
  }

  .features-detail {
    @extend .hero-detail;
    font-size: 22px;
  }

  .features-text {
    @extend .hero-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 14px 0px 0px 14px;
  }
}

.reviews-section{
  margin-top: 60px;

  .reviews-main-text{
    @extend .hero-text;
    font-size: 46px;
    width: 50%;
    text-align: center;
  }

  .reviews-detail{
    @extend .hero-detail;
    margin-top: 12px;
    font-size: 22px;
    width: 70%;
    text-align: center;
  }
}